<%
    const Sitemap = require('sitemap');
    const page = Sitemap.getPage(Page);

    const Locale = page.output.locale;
    const Strings = page.output.copy.heroSection;
    const BaseUrl = page.output.href;
%>

<section class="hero-section" id="hero">
    <div class="hero-background">
        <div class="bg-ellipse1">
            <img data-src="../../../assets/img/bg/Ellipse1.png" class="lazy" data-load-priority="5" alt="">
        </div>

        <div class="bg-ellipse2">
            <img data-src="../../../assets/img/bg/Ellipse2.png" class="lazy" data-load-priority="5" alt="">
        </div>

        <div class="bg-circles">
            <picture>
                <source data-srcset="../../../assets/img/bg/bgCircles-tablet1.svg"
                    media="(max-width: 1024px)"/>
                <source data-srcset="../../../assets/img/bg/bgCircles-desktop1.svg"
                    media="(min-width: 1025px)"/>
                <img class="lazy" data-load-priority="0" alt="circles">
            </picture>
        </div>
    </div>
    <div id="banner-mobile">
        <a class="desc-2" href="https://pareto.credit/" target="_blank">Idle is now Pareto – the credit coordination protocol</a>
    </div>
    <div class="container">
        <div class="hero-text">
            <div class="text-block">
                <h1 class="title-h1"><%= Strings.title %></h1>
            </div>
        </div>
        <div class="slider-container">
            <div class="splide">
                <div class="splide__arrows nav-anim-js">
                    <button class="splide__arrow splide__arrow--prev">
                        <%= require('../../../assets/img/product/arrowLeft.svg?raw') %>
                    </button>
                    <button class="splide__arrow splide__arrow--next">
                        <%= require('../../../assets/img/product/arrowRight.svg?raw') %>
                    </button>
                </div>
                <div class="splide__track">
                    <div class="splide__list vaults-container">
                        <div class="splide__slide">
                            <a class="vault__card" href="<%= Strings.btnEnter.btnSrc %>" target="_blank">
                                <div class="vault__header">
                                    <div class="vault__logo">
                                        <img class="logo" src="https://app.idle.finance/images/borrowers/fasanara.svg" />
                                    </div>
                                    <div class="title">
                                        <h2 class="title-h4">Fasanara Investments</span></h2>
                                        <p class="desc-3">Institutional Credit</p>
                                    </div>
                                </div>
                                <div class="vault__performance">
                                    <p class="desc-3">Up to</p>
                                    <p class="title-h3">22.7<small>%</small> <span class="text-gray">APY</span></p>
                                </div>
                                <div class="vault__footer">
                                    <div class="footer-left">
                                        <div class="tvl">
                                            <p class="subtitle-3">$4,598,472</p>
                                            <p class="subtitle-3">TVL</p>
                                        </div>
                                        <div class="rounded-gray">
                                            <div class="tokens logos"><img class="logo" src="https://raw.githubusercontent.com/Idle-Labs/idle-landing/master/app/assets/img/tokens/USDT.svg" /><img class="logo ml" src="https://raw.githubusercontent.com/Idle-Labs/idle-landing/master/app/assets/img/tokens/USDC.svg" /></div>
                                        </div>
                                    </div>
                                    <div class="footer-right">
                                        <button class="splide__arrow">
                                            <%= require('../../../assets/img/arrowRight2.svg?raw') %>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="splide__slide">
                            <a class="vault__card" href="<%= Strings.btnEnter.btnSrc %>" target="_blank">
                                <div class="vault__header">
                                    <div class="vault__logo">
                                        <img class="logo" src="https://app.idle.finance/images/protocols/ethena.svg" />
                                    </div>
                                    <div class="title">
                                        <h2 class="title-h4">Ethena</h2>
                                        <p class="desc-3">Diversified Basis Yield</p>
                                    </div>
                                </div>
                                <div class="vault__performance">
                                    <p class="desc-3">Up to</p>
                                    <p class="title-h3">43.8<small>%</small> <span class="text-gray">APY</span></p>
                                </div>
                                <div class="vault__footer">
                                    <div class="footer-left">
                                        <div class="tvl">
                                            <p class="subtitle-3">$913,373</p>
                                            <p class="subtitle-3">TVL</p>
                                        </div>
                                        <div class="rounded-gray">
                                            <div class="tokens logos"><img class="logo" src="https://raw.githubusercontent.com/Idle-Labs/idle-landing/master/app/assets/img/tokens/USDE.svg" /></div>
                                        </div>
                                    </div>
                                    <div class="footer-right">
                                        <button class="splide__arrow">
                                            <%= require('../../../assets/img/arrowRight2.svg?raw') %>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="splide__slide">
                            <a class="vault__card" href="<%= Strings.btnEnter.btnSrc %>" target="_blank">
                                <div class="vault__header">
                                    <div class="vault__logo"><img class="logo" src="https://app.idle.finance/images/protocols/instadapp.png"></div>
                                    <div class="title">
                                        <h2 class="title-h4">Instadapp</h2>
                                        <p class="desc-3">Leveraged staking</p>
                                    </div>
                                </div>
                                <div class="vault__performance">
                                    <p class="desc-3">Up to</p>
                                    <p class="title-h3">7.8<small>%</small> <span class="text-gray">APY</span></p>
                                </div>
                                <div class="vault__footer">
                                    <div class="footer-left">
                                        <div class="tvl">
                                            <p class="subtitle-3">$298,138</p>
                                            <p class="subtitle-3">TVL</p>
                                        </div>
                                        <div class="rounded-gray">
                                            <div class="tokens logos"><img class="logo" src="https://raw.githubusercontent.com/Idle-Labs/idle-landing/master/app/assets/img/tokens/STETH.svg" /></div>
                                        </div>
                                    </div>
                                    <div class="footer-right">
                                        <button class="splide__arrow">
                                            <%= require('../../../assets/img/arrowRight2.svg?raw') %>
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero__footer">
        <div class="footer__investors">
            <p class="subtitle-2">Trusted by</p>
            <div class="investors__logos">
                <%
                Strings.investors.forEach((logo, j) => {
                    const protocolLogoSrc = require(`../../../assets/img/ecosystem/${logo.logoSrc}`);
                    %>
                    <a class="investor__logo" href="<%= logo.linkSrc %>" target="_blank" rel="nofollow noopener noreferrer" aria-label="<%= logo.linkSrc %>">
                        <img data-src="<%= protocolLogoSrc %>" class="lazy" data-load-priority="3" alt="">
                    </a>
                    <%
                })
                %>
            </div>
        </div>
        <div class="footer__stats">
            <div class="stats__value">
                <p class="subtitle-2">Current TVL</p>
                <h3 id="total-locked-value" class="title-h3">-</h3>
            </div>
            <div class="stats__value">
                <p class="subtitle-2">Generated Yield</p>
                <h3 id="total-yield-generated" class="title-h3">-</h3>
            </div>
        </div>
    </div>
    <!--div class="hero-discover-more anchor-item" data-anchor="product">
        <%= require('../../../assets/img/icons/arrowDown.svg?raw') %>
        <a href="#" class="desc-2"><%= Strings.discover %></a>
    </div-->
</section>