<%
    const Sitemap = require('sitemap');
    const page = Sitemap.getPage(Page);

    const Locale = page.output.locale;
    const Strings = page.output.copy.protocolsSection;
    const BaseUrl = page.output.href;
%>
<section class="protocols-section" id="protocols">
    <div class="protocols-background">
        <div class="bg-ellipse1">
            <img data-src="../../../assets/img/bg/Ellipse5.png" class="lazy" data-load-priority="5" alt="">
        </div>

        <div class="bg-ellipse2">
            <img data-src="../../../assets/img/bg/Ellipse6.png" class="lazy" data-load-priority="5" alt="">
        </div>
    </div>
    <div class="container">
        <div class="text-block">
            <h2 class="title-h2 anim-item-js"><%=Strings.title %></h2>
            <p class="desc-2 anim-item-js"><%= Strings.desc %></p>
        </div>
        <div class="filters">
            <% Strings.protocols.forEach((item, i) => {
                const sectionId = item.id;
                const sectionLabel = item.label;
                %>
                <a class="filters__tag label-2 <%= !i ? 'active' : '' %>" data-id="<%= sectionId %>" href="javascript:void(0)" aria-label="<%= sectionLabel %>">
                    <%= sectionLabel %>
                </a>
                <%
            })
            %>
        </div>
        <% Strings.protocols.forEach((item, i) => {
            const sectionId = item.id;
            %>
            <div id="protocols-<%= sectionId %>" class="protocols">
                <%
                item.logos.forEach((logo, j) => {
                    const protocolLogoSrc = require(`../../../assets/img/protocols/${logo.logoSrc}`);
                    %>
                    <a class="protocols__logo" href="<%= logo.linkSrc %>" target="_blank" aria-label="<%= logo.linkSrc %>">
                        <div class="logo logo-anim-js-<%= j+1 %>">
                            <img data-src="<%= protocolLogoSrc %>" class="lazy" data-load-priority="3" alt="">
                        </div>
                    </a>
                    <%
                })
                %>
            </div>
            <%
        })
        %>
    </div>
</section>