<%
    const Sitemap = require('sitemap');
    // get the page directly to hook it into webpack dev build process
    const page = Sitemap.getPage(Page);

    const Strings = page.common.modalMenu;
    const Locale = page.output.locale;
    const BaseUrl = page.output.href;

    const HeaderLinks = page.common.header.links;

    const getLocaleHref = (lang) => Sitemap.getLocaleHref(page, lang);
%>


<div id="mobile-menu" class="mobile-menu s-visible">
    <div class="bg-noise"></div>
    <div class="mobile-menu-background">
        <div class="bg-ellipse">
            <img data-src="../../assets/img/bg/Ellipse3.png" class="lazy" data-load-priority="0" alt="">
        </div>

    </div>

    <div class="mobile-menu__header">
        <a class="logo" href="<%= Strings.logoLink %>" aria-label="Idle finance">
            <%= require('../../assets/img/idle-logo.svg?raw') %>
        </a>
        <div class="mobile-menu-button">
            <div class="close-btn"></div>
        </div>
    </div>
    <div class="mobile-menu__content">
        <div class="navigation">
            <div class="navigation__link">
                <div class="navigation__link-text label-1 anchor-item" data-anchor="<%= HeaderLinks[0].dataAnchor %>" href="">
                    <%= HeaderLinks[0].linkTitle %>
                </div>
            </div>
            <div class="navigation__link">
                <a class="navigation__link-text label-1" href="<%= HeaderLinks[1].linkSrc %>" target="_blank">
                    <%= HeaderLinks[1].linkTitle %>
                </a>
            </div>
            <div class="navigation__link">
                <a class="navigation__link-text label-1" href="<%= HeaderLinks[2].linkSrc %>" target="_blank">
                    <%= HeaderLinks[2].linkTitle %>
                </a>
            </div>
            <div class="navigation__link dropdown has-drop-down">
                <div class="drop-down-link js-btn-switch">
                    <div class="navigation__link-text label-1 js-btn-switch"><%= HeaderLinks[3].linkTitle %></div>
                    <div class="drop-down-arrow js-btn-switch">
                        <%= require('../../assets/img/icons/arrowDropdown.svg?raw') %>
                    </div>
                </div>

                <ul class="dropdown__list">
                    <% HeaderLinks[3].dropdownLinks.forEach(link => { %>
                        <li class="dropdown__item">
                            <a class="drop-down-link--sub js-btn-switch" href="<%= link.src %>" target="_blank">
                                <span class="label-1"><%= link.title %></span>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="navigation__link">
                <div class="navigation__link-text label-1 anchor-item" data-anchor="<%= HeaderLinks[4].dataAnchor %>" href="">
                    <%= HeaderLinks[4].linkTitle %>
                </div>
            </div>
            <div class="navigation__link">
                <div class="navigation__link-text label-1 anchor-item" data-anchor="<%= HeaderLinks[5].dataAnchor %>" href="">
                    <%= HeaderLinks[5].linkTitle %>
                </div>
            </div>
        </div>

        <div class="button">
            <a class="btn btn-main" href="<%= Strings.btnEnter.btnSrc %>" target="_blank" aria-label="<%= Strings.btnEnter.btnTitle %>">
                <span class="btn-label btn-label-1"><%= Strings.btnEnter.btnTitle %></span>
            </a>
        </div>
    </div>
</div>
